@import url('https://fonts.googleapis.com/css?family=Orbitron');

.events_body {
    background-color: #1F2833;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Orbitron', cursive;
    color: #66FCF1;
    overflow: auto;
}

.single_event {
    height: 30vh;
    width: 30vw;
    background-color: #66FCF1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', cursive;
    border-radius: 40px;
    color: #1F2833;
    font-size: 24px;
}

.go_to_event_button {
    background-color: #1F2833;
    color: #66FCF1;
    height: 50px;
    width: 190px;
    border-radius: 20px;
    border: 2px solid #66FCF1;
    font-weight: bold;
    font-family: 'Orbitron', cursive;
    margin: 10px;
    transition: transform 250ms ease-in-out;
}

.go_to_event_button:hover {
    transform: scale(1.2);
    transition: transform 250ms ease-in-out;
}

.delete_event_button {
    background-color: #1F2833;
    color: #66FCF1;
    height: 50px;
    width: 190px;
    border-radius: 20px;
    border: 2px solid #66FCF1;
    font-weight: bold;
    font-family: 'Orbitron', cursive;
    margin: 10px;
    transition: transform 250ms ease-in-out;
}

.delete_event_button:hover {
    transform: scale(1.2);
    transition: transform 250ms ease-in-out;
}

.events_list {
    display: flex;
    flex-direction: column-reverse;
}